@{
    ViewBag.Title = "Word Jumble Game";
}

<head runat="server">

    <style>
        body {
            background-image: url("https://i.pinimg.com/originals/aa/0f/16/aa0f1630d336feb66e0227e0d2415e56.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>


</head>

<div class="well">
    <h1>Welcome to Word Jumble!</h1>
    <p>
        Ready to Play?
    </p>
    <button class="btn btn-primary" id="btnStartAndEnd">Start Game</button>
</div>

<div class="row" id="gameDiv">
    <div class="col-md-7">
        <table class="table table-bordered" style="background-color:beige">
            <thead>
                <tr class="success">
                    <th id="tdRiddle" colspan="5">

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="tdJumbleWord1"></td>
                    <td width="20px;">
                        <span class="shuffleClass glyphicon glyphicon-random" aria-hidden="true"></span>
                    </td>
                    <td>
                        <input class="clsAnswer" type="text" id="txtFirstWord" />
                    </td>
                    <td width="20px;">
                        <span id="spnFirstWord" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </td>
                    <td class="clsHint" id="tdHint1"></td>
                </tr>
                <tr>
                    <td id="tdJumbleWord2"></td>
                    <td width="20px;">
                        <span class="shuffleClass glyphicon glyphicon-random" aria-hidden="true"></span>
                    </td>
                    <td>
                        <input class="clsAnswer" type="text" id="txtSecondWord" />
                    </td>
                    <td width="20px;">
                        <span id="spnSecondWord" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </td>
                    <td class="clsHint" id="tdHint2"></td>
                </tr>
                <tr>
                    <td id="tdJumbleWord3"></td>
                    <td width="20px;">
                        <span class="shuffleClass glyphicon glyphicon-random" aria-hidden="true"></span>
                    </td>
                    <td>
                        <input class="clsAnswer" type="text" id="txtThirdWord" />
                    </td>
                    <td width="20px;">
                        <span id="spnThirdWord" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </td>
                    <td class="clsHint" id="tdHint3"></td>
                </tr>
                <tr>
                    <td id="tdJumbleWord4"></td>
                    <td width="20px;">
                        <span class="shuffleClass glyphicon glyphicon-random" aria-hidden="true"></span>
                    </td>
                    <td>
                        <input class="clsAnswer" type="text" id="txtFourthWord" />
                    </td>
                    <td width="20px;">
                        <span id="spnFourthWord" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </td>
                    <td class="clsHint" id="tdHint4"></td>
                </tr>
                <tr class="success">
                    <td>
                        Your Final Answer :
                    </td>
                    <td width="20px;"></td>
                    <td>
                        <input id="txtFinalAnswer" type="text" />
                    </td>
                    <td colspan="2">
                        <button id="btnCheck" class="btn btn-info">Check Answer</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-3">
        <table class="table table-bordered" style="background-color:beige">
            <tbody>
                <tr>
                    <td>Total Questions</td>
                    <td>Total Correct Answers</td>
                    <td>Total Time Taken</td>
                    <td>Grade</td>
                </tr>
                <tr>
                    <td id="tdTotalQuestions"></td>
                    <td id="tdTotalCorrectAnswers"></td>
                    <td id="totalTimeTaken"></td>
                    <td><h2 id="grade"></h2></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2">
        <h1 id="counter" style="display:none"></h1>
    </div>
</div>

<!--Navbar-->
<nav class="navbar navbar-default navbar-fixed-bottom" id="" style="width:auto;height:33%">
    <div class="container-fluid" style="background-color:black">

        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <img id="themePicture" src="https://wallpaperscraft.com/image/corn_food_cob_82874_1920x1080.jpg" alt="" style="height:325px" />
            </div>
            <div class="col-md-4">
            </div>
        </div>
        @*<div class="navbar-brand">
                <a class="navbar-brand" id="theNavbarBrand" href="#" style="color:black; text-decoration-color:white">Word Jumble</a>
            </div>*@
        @*<ul class="nav navbar-nav">
                <li><a href="#" style="color: #fff">Something 1</a></li>
                <li><a href="#" style="color: #fff">Something 2</a></li>

            </ul>*@
    </div>
</nav>


@*
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-5">
            </div>
            <div class="col-md-5">
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>

*@




<script src="~/Scripts/Home/index.js"></script>