@{
    ViewBag.Title = "Word Jumble Game";
}

<head runat="server">

    <style>
        body {
            background-image: url("https://i.pinimg.com/originals/aa/0f/16/aa0f1630d336feb66e0227e0d2415e56.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: auto; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 50%;
        }

        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
    </style>

    <script src="~/Scripts/Home/index.js"></script>

</head>

<div class="well">
    <h1>Welcome to Word Jumble!</h1>
    <p id="readyToPlayP">
        Ready To Start and Have Lots of Fun?
    </p>
    <button class="btn btn-primary" id="btnStartAndEnd">Start Game</button>
</div>

<div class="row" id="gameDiv">
    <div class="col-md-7">
        <table class="table table-bordered" style="background-color:beige">
            <thead>
                <tr class="success">
                    <th id="tdRiddle" colspan="5">

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="tdJumbleWord1"></td>
                    <td width="20px;">
                        <span class="shuffleClass glyphicon glyphicon-random" aria-hidden="true"></span>
                    </td>
                    <td>
                        <input class="clsAnswer" type="text" id="txtFirstWord" />
                    </td>
                    <td width="20px;">
                        <span id="spnFirstWord" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </td>
                    <td class="clsHint" id="tdHint1"></td>
                </tr>
                <tr>
                    <td id="tdJumbleWord2"></td>
                    <td width="20px;">
                        <span class="shuffleClass glyphicon glyphicon-random" aria-hidden="true"></span>
                    </td>
                    <td>
                        <input class="clsAnswer" type="text" id="txtSecondWord" />
                    </td>
                    <td width="20px;">
                        <span id="spnSecondWord" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </td>
                    <td class="clsHint" id="tdHint2"></td>
                </tr>
                <tr>
                    <td id="tdJumbleWord3"></td>
                    <td width="20px;">
                        <span class="shuffleClass glyphicon glyphicon-random" aria-hidden="true"></span>
                    </td>
                    <td>
                        <input class="clsAnswer" type="text" id="txtThirdWord" />
                    </td>
                    <td width="20px;">
                        <span id="spnThirdWord" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </td>
                    <td class="clsHint" id="tdHint3"></td>
                </tr>
                <tr>
                    <td id="tdJumbleWord4"></td>
                    <td width="20px;">
                        <span class="shuffleClass glyphicon glyphicon-random" aria-hidden="true"></span>
                    </td>
                    <td>
                        <input class="clsAnswer" type="text" id="txtFourthWord" />
                    </td>
                    <td width="20px;">
                        <span id="spnFourthWord" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </td>
                    <td class="clsHint" id="tdHint4"></td>
                </tr>
                <tr class="success">
                    <td>
                        Your Final Answer :
                    </td>
                    <td width="20px;"></td>
                    <td>
                        <input id="txtFinalAnswer" type="text" />
                    </td>
                    <td colspan="2">
                        <button id="btnCheck" class="btn btn-info">Check Answer</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-3">
        <table class="table table-bordered" style="background-color:beige">
            <tbody>
                <tr>
                    <td style="width:100px">Total Questions</td>
                    <td style="width:100px">Total Correct Answers</td>
                    <td style="width:100px">Time Taken Since Last Correct Answer</td>
                    <td style="width:100px">Grade</td>
                </tr>
                <tr>
                    <td id="tdTotalQuestions"></td>
                    <td id="tdTotalCorrectAnswers"></td>
                    <td id="totalTimeTaken"></td>
                    <td><h2 id="grade"></h2></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2">
        <h1 id="counter" style="display:none"></h1>
    </div>
</div>

<!--Footer Navbar-->
<nav class="navbar navbar-default navbar-fixed-bottom" id="" style="width:auto;height:33%">
    <div class="container-fluid" style="background-color:black">

        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <img id="themePicture" style="display:none; height:325px" src="~/Pictures/theme1.png" alt="" />
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</nav>


 <!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content" >
        <span class="close">&times;</span>

        <p style="text-align:center;font-size:x-large">You Win!</p>
        <p id="finalScore" style="text-align:center;font-size:large"></p>
        <p id="finalLetterGrade" style="text-align:center;font-size:large"></p>

        <img id="themePicture" style="height:400px; margin:auto" src="~/Pictures/themeWINNER.jpg" />
    </div>

</div>



@*
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-5">
            </div>
            <div class="col-md-5">
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>

*@
